<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- End Main Top -->
<div th:fragment="main-top" class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="custom-select-box">
                    <select id="Money" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                        <option>¥ JPY</option>
                        <option>$ USD</option>
                        <option>€ EUR</option>
                    </select>
                </div>
                <div class="right-phone-box">
                    <p>Call US :- <a href="#"> +11 900 800 100</a></p>
                </div>
                <div class="our-link">
                    <ul>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/user}"><i class="fa fa-user s_color"></i> My Account</a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}"><i class="fas fa-location-arrow"></i> Logout</a></li>
                        <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}"><i class="fas fa-location-arrow"></i> Login</a></li>
                        <li><a sec:authorize="!isAuthenticated()" th:href="@{/authenticate}"><i class="fa fa-user s_color"></i> Authenticate</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="text-slid-box">
                    <div id="offer-box" class="carouselTicker">
                        <ul class="offer-box">
                            <li>
                                <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT80
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 50%! Shop Now
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT30
                            </li>
                            <li>
                                <i class="fab fa-opencart"></i> Off 50%! Shop Now
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->

<header th:fragment="main-heder(uniqProductInCart,allLineItems, totalPrice)" class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo.png}" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" th:href="@{'/'}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{about.html}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{'/products'}">Products</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{'/cart'}">Cart</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/}">My Account</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{contact-us.html}">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div sec:authorize="isAuthenticated()" class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu"><a href="#">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="badge" th:text="${uniqProductInCart}"></span>
                        <p>My Cart</p>
                    </a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>

        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list">
                    <li th:each="lineItem : ${allLineItems}">
                        <a href="#" class="photo"><img th:src="@{{pictureServiceUrl}/pictures/{pictureId}(
                                                                    pictureId = ${lineItem.pictureIdForCart},
                                                                    pictureServiceUrl =${pictureServiceUrl}  )}" class="cart-thumb" alt="" /></a>
                        <h6 th:text="${lineItem.productTitle}"><a href="#"/> </h6>
                        <p th:text="${lineItem.qty} + 'x - '+${lineItem.totalPrice}"/>
                    </li>

                    <li class="total">
                        <a th:href="@{/cart}" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                        <span class="float-right" th:text="'$'+${totalPrice}"><strong>Total</strong></span>
                    </li>
                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->




</html>