<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:replace = "~{fragments/resources :: head/link}"/>
    <th:block th:replace = "~{fragments/resources :: head/script}"/>

    <title>Add User</title>
</head>
<body class="bg-light">

<div th:replace="~{fragments/navigation :: navigation}"/>

<div class="d-flex">
    <div th:replace="~{fragments/navigation :: menu}"/>

    <div class="content p-4">
        <div class="card mb-4">
            <div class="card-header bg-white font-weight-bold">
                New Role
            </div>
            <form th:action="@{/products/add}" th:object="${productData}" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group">
                            <label>Title</label>
                            <input th:field = "*{title}" type="text" class="form-control" placeholder="Enter Title">
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input th:field = "*{price}" type="text" class="form-control" placeholder="Enter Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input th:field = "*{description}" type="text" class="form-control" placeholder="Enter description">
                    </div>

                    <div class="form-group">
                        <label>Select Category</label>
                        <select multiple class="form-control" th:field="*{categoryTitle}">
                            <option th:each ="category : ${allCategoriesData}"
                                    th:value="${category.title}"
                                    th:text ="${category.title}"/>
                        </select>

                    </div>

                    <div class="form-group" >
                        <label for="newPictures">Product Image</label>
                        <input th:field="*{newPictures}" type="file" class="form-control" id="newPictures"
                               placeholder="Upload new product picture" multiple>
                    </div>

                </div>
                <div class="card-footer bg-white">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>