<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:replace = "~{fragments/resources :: head/link}"/>
    <th:block th:replace = "~{fragments/resources :: head/script}"/>

    <title>Rename Category</title>
</head>
<body class="bg-light">

<div th:replace="~{fragments/navigation :: navigation}"/>

<div class="d-flex">
    <div th:replace="~{fragments/navigation :: menu}"/>

    <div class="content p-4">
        <div class="card mb-4">
            <div class="card-header bg-white font-weight-bold">
                New Role
            </div>
            <form th:action="@{/categories/edit}" th:object="${categoryData}" method="post">
                <input th:field="*{id}" type="hidden" class="form-control">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group">
                            <label>Title</label>
                            <input th:field = "*{title}" type="text" class="form-control" placeholder="Enter title">
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>